<app-banner-principal></app-banner-principal>

<!-- Mídias Populares -->
<div class="container py-3">
  <div class="d-flex align-items-center gap-3">
    <h2 class="fs-4 mb-0">Populares</h2>

    <app-selecao-carrossel-midias
      idAgrupamento="midiasPopulares"
      nomeAgrupamento="tipoMidiasPopulares"
      (tipoMidiaAlterado)="midiasPopularesSubject$.next($event)"
      [tipoMidiaSelecionado]="(midiasPopularesSubject$ | async) ?? tipoMidia.Filme"
    ></app-selecao-carrossel-midias>
  </div>

  @if (midiasPopulares$ | async; as respostaMidiasPopulares) {
  <app-carrossel-midias
    [tipoMidia]="respostaMidiasPopulares.media_type"
    [midias]="respostaMidiasPopulares.results"
    [popular]="true"
  ></app-carrossel-midias>
  }
</div>

<!-- Mídias Mais Votadas -->
<div class="app-banner-fundo">
  <div class="container py-3">
    <div class="d-flex align-items-center gap-3">
      <h2 class="fs-4 mb-0">Mais Votados</h2>

      <app-selecao-carrossel-midias
        idAgrupamento="midiasMaisVotados"
        nomeAgrupamento="tipoMidiaMaisVotados"
        (tipoMidiaAlterado)="midiasMaisVotadasSubject$.next($event)"
        [tipoMidiaSelecionado]="(midiasMaisVotadasSubject$ | async) ?? tipoMidia.Filme"
      ></app-selecao-carrossel-midias>
    </div>

    @if (midiasMaisVotadas$ | async; as respostaMidiasMaisVotadas) {
    <app-carrossel-midias
      [tipoMidia]="respostaMidiasMaisVotadas.media_type"
      [midias]="respostaMidiasMaisVotadas.results"
    ></app-carrossel-midias>
    }
  </div>
</div>

<!-- Filmes em Cartaz -->
<div class="container py-3">
  @if (filmesEmCartaz$ | async; as filmesEmCartaz) {
  <h2 class="fs-4 mb-0">Filmes em Cartaz</h2>
  <app-carrossel-midias
    [tipoMidia]="tipoMidia.Filme"
    [midias]="filmesEmCartaz.results"
  ></app-carrossel-midias>
  }
</div>
